@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap");

:root {
  --primary: #171717;
  --white: #ffffff;
  --voltcolor: #22ba84;
}

body {
  padding: 0;
  margin: 0;
  overflow-x: hidden;
  height: 100vh;
  background-color: var(--primary);
  width: 100vw;
  font-family: "Montserrat", sans-serif;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background: #b3dced;
  background: linear-gradient(to bottom, #2ee4ba, #18e77e);
  border-radius: 5px;
}
